            .header {
                background-color: #FBD4D1;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                font-size:30px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color:#fb574b;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .header:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .description {
                background-color: #F5A0AE;
                display: flex;
                justify-content: space-evenly;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size:20px;
                color:#eb1e3d;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .description:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .allAnimals {
                background-color: #D0A0A3;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                text-align: center;
                position:relative;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .allAnimals1 {
                background-color: #B96B95;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                text-align: center;
                position:relative;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }
            
            .grid img{
                border:2px solid #000000;
                border-radius:40px;
            }

            .panda:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .camel:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .chameleon:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .cicada:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .parrot:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .swan:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .teddy:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .pigeon:hover{
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .panda {
                background-color: #EF456C;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .panda p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(400%, -50%);
                opacity:0;
            }

            .panda:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .panda:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .chameleon {
                background-color: #EF456C;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .chameleon p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-160%, -50%);
                opacity:0;
            }

            .chameleon:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .chameleon:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .camel {
                background-color: #EF456C;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .camel p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-480%, -50%);
                opacity:0;
            }

            .camel:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .camel:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .pigeon {
                background-color: #8C568A;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .pigeon p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-190%, -50%);
                opacity:0;
            }

            .pigeon:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .pigeon:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .cicada {
                background-color: #8C568A;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .cicada p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-350%, -50%);
                opacity:0;
            }

            .cicada:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .cicada:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .teddy {
                background-color: #EF456C;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .teddy p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(60%, -50%);
                opacity:0;
            }

            .teddy:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .teddy:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .parrot {
                background-color: #8C568A;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .parrot p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(90%, -50%);
                opacity:0;
            }

            .parrot:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .parrot:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .swan {
                background-color: #8C568A;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
                margin:30px;
                padding:25px;
            }

            .swan p{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(420%, -50%);
                opacity:0;
            }

            .swan:hover p{
                transition-duration: 0.7s;
                opacity: 1;
            }

            .swan:hover img{
                transition-duration: 0.7s;
                opacity: 0.2;
            }

            .footer {
                background-color: #D5B5C2;
                font-family:'Courier New', Courier, monospace;
                font-size:25px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .footer:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .c1 {
                background-color: #EF456C;
                display: flex;
                flex-wrap: wrap;
                color:#ffffff;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                margin:30px;
                padding:25px;
                border-radius:20px;
            }

            .c1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .c1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .c1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .c1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .ch1 {
                background-color: #EF456C;
                display: flex;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                color:#ffffff;
                font-size:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border-radius:20px;
            }

            .ch1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .ch1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .ch1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .ch1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .t1 {
                background-color: #EF456C;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px; 
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#ffffff;
            }

            .t1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .t1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .t1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .t1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .p1 {
                background-color: #EF456C;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                color:#ffffff;
                font-size:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                border-radius:20px;
            }

            .p1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .p1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .p1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .p1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .ci1 {
                background-color: #8C568A;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
            }

            .ci1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
                border:solid #000000 2px;
            }

            .ci1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .ci1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .ci1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .pi1 {
                background-color: #8C568A;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#ffffff;
                border-radius:20px;
            }

            .pi1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .pi1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .pi1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .pi1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .pa1 {
                background-color: #8C568A;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#ffffff;
            }

            .pa1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .pa1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .pa1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .pa1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .s1 {
                background-color: #8C568A;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin:30px;
                padding:25px;
                border-radius:20px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                color:#ffffff;
            }

            .s1 img{
                border-radius:20px;
                justify-content: center; 
                flex-direction: column;
                margin-left:700px;
            }

            .s1 li {
                text-align:center;
                opacity:0;
                margin-left:650px;
                margin-top: 50px;
                width:400px;
            }

            .s1:hover li {
                transition-duration: 0.7s;
                opacity:1;
            }

            .s1:hover {
                transition-duration: 0.7s;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            body{
                background-image: linear-gradient(to bottom, #B7CC83 , #FFD57D);
                margin:0px;
            }

            .footer a:link{
                color: #582966;
                text-decoration:none;
            }

            .footer a:visited{
                color: #582966;
                text-decoration:none;
            }

            .basics {
                background-color: #F5A0AE;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                font-size:25px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color:#eb1e3d;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .basics:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .basicslinks {
                background-color: #EF456C;
                display: flex;
                flex-wrap: wrap;
                font-size:25px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
                width:250px;
                justify-content: space-evenly;
            }

            /*.basicslinks:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }*/

            .basicslinks a:link{
                color: #ffffff;
                text-decoration:none;
            }

            .basicslinks a:visited{
                color: #ffffff;
                text-decoration:none;
            }

            .basics1 {
                background-color: #B96B95;
                color:#4b2c4a;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                font-size:25px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
            }

            .basics1:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }

            .basics1 a:link{
                color: #ffffff;
                text-decoration:none;
            }

            .basics1 a:visited{
                color: #ffffff;
                text-decoration:none;
            }

            .basics1links {
                background-color: #4b2c4a;
                display: flex;
                flex-wrap: wrap;
                font-size:25px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                margin:30px;
                padding:25px;
                border-radius:20px;
                box-shadow: 5px 5px 5px 5px #4d4d4d;
                width:250px;
                justify-content: space-evenly;
            }

            /*.basics1links:hover {
                transition-duration: 0.7s;
                transform:scale(1.02);
            }*/

            .basics1links a:link{
                color: #ffffff;
                text-decoration:none;
            }

            .basics1links a:visited{
                color: #ffffff;
                text-decoration:none;
            }